h1{
    background-color: aqua;
    color:brown;
    text-align: center;
}
p{
    text-indent: 3em;
    color:brown
}
h1,p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#p1{
    border: double 10px purple;
    text-align: center;
}
#p2{
    border:dashed 5px crimson;
    text-align: center;
}
#p3{
    border: double 6px black;
    width: 80%;
    margin: auto;
    text-align: center;

}
#p4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: double 10px red;
    width: 70%;
    margin: auto;
    text-align: center;
}